<h1 style="margin-left: 14vw" class="pt-5"><strong>Step 2 : </strong>Choose your exercices !</h1>

<%= render "components/form_edit_woset", workout: @workout, workout_set: @workout_set, exercices: @exercices %>
