<div style="min-height: calc(100vh - 258px)" class="bg-form-new">
  <h1 style="margin-left: 14vw;" class="pt-5"><strong>Step 2 : </strong>Choose your exercices !</h1>

  <%= render "components/card_exo_info", workout: @workout, workout_set: @workout_set, exercices: @exercices %>
</div>
