<div class="bg-index-wo pt-5">

  <div class="container">

    <div class="row">

      <% @workouts.each do |workout| %>
      <div class="col m-3"><%= render "components/workout_card", workout: workout %></div>

      <% end %>

    </div>

  </div>
</div>
