<div class="bg-index-wo pt-3" style="min-height: 80vh">
  <div data-controller="ajax" class="container">

    <%= form_with url: workouts_path, method: :get, data: {ajax_target: 'form'}, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control mb-3",
                placeholder: "Find your workout",
                data: { action: "keyup->ajax#searching",
                        ajax_target: "input"
                      }
            %>
        <% end %>
    <div data-ajax-target="list">
      <%= render "components/list_workouts", workouts: @workouts %>
    </div>
  </div>
</div>
