
<div class="container">

  <div class="row d-flex " >

    <% @workouts.each do |workout| %>
      <%= link_to workout_path(workout),class: "col-4" do %>

        <div class="" style="width:250px; height: 350px;">

          <div class= " border border-3 border-dark mt-3">

            <p><strong>Name : </strong><%= workout.name %></p>
            <p><strong>Description : </strong><%= workout.description %></p>

          </div>

        </div>
      <% end %>

    <% end %>

  </div>

</div>
