<div class="bg-form-new d-flex flex-row align-items-center justify-content-around" style="min-height: calc(100vh - 110px - 226px);">
  <div class="pe-5">
    <%= render "components/form_new_wo", workout: @workout%>
  </div>
  <div class="">
    <%= image_tag "man.jpg", width: 700, class: "rounded-4"%>
  </div>
</div>
