<div class="bg-form-new d-flex align-items-center justify-content-around px-5" style="min-height: calc(100vh - 100px);">
  <div class="">
      <%= render "components/form_new_wo", workout: @workout%>
  </div>
      <%= image_tag "man.jpg", width: 700, class: "rounded-4"%>
</div>
