<div class="container">

  <div class="d-flex">

    <div class="p-3 mt-5" style="width: 300px;">

        <div class= "border border-3 rounded-3 border-dark mb-4 p-3 sticky-top border-dark background_form bg-secondary bg-gradient">
          <h2>Name</h2>
          <p><%= @workout.name  %></p>
          <h2>Description</h2>
          <p><%= @workout.description  %></p>
          <p><strong><%= @workout.exercices.count %></strong> Exercices to do</p>

        </div>

    </div>


    <div class="mt-5">

      <% @workout.workout_sets.each do |workout_set| %>

        <%= render "components/card_exo_info", workout: @workout, workout_set: workout_set  %>

      <% end %>
    </div>

  </div>

</div>
