<div class="" data-controller="bar-charts">
  <canvas data-bar-charts-target="card"
          data-str="<%= exercice.str %>"
          data-end="<%= exercice.end %>"
          data-dex="<%= exercice.dex %>"
          width="200px"
          height="150px">
  </canvas>
</div>
