<div data-controller="bar-chart_dashboard">
  <canvas data-bar-charts-target="card"
          data-v="<%= v %>"
          data-k="<%= k %>"
          width="200px"
          height="200px">
  </canvas>
</div>
