<div data-controller="bar-chart-dashboard"
    data-bar-chart-dashboard-keys-value="<%= k %>"
    data-bar-chart-dashboard-values-value="<%= v %>">
  <canvas data-bar-chart-dashboard-target="card"
    width="300px"
    height="300px">
  </canvas>
</div>
