<div data-controller="bar-chart-dashboard" class="bg-dark p-4" style="border-radius: 10px"
    data-bar-chart-dashboard-keys-value="<%= k %>"
    data-bar-chart-dashboard-values-value="<%= v %>">
  <canvas data-bar-chart-dashboard-target="card"
    width="400px"
    height="300px">
  </canvas>
</div>
