<div data-controller="doughnut">
  <canvas data-doughnut-target="card"
          data-avg_str="<%= workout.avg_str %>"
          data-avg_end="<%= workout.avg_end %>"
          data-avg_dex="<%= workout.avg_dex %>"
          width="120px"
          height="120px">
  </canvas>
</div>
