<% if @query.present? %>
  <p class="text-white">Results for <strong class="text-success"><%= @query.capitalize %></strong></p>
<% end %>
<div class="row pb-3">

  <% workouts.each do |workout| %>
    <div class="col m-3"><%= render "components/workout_card", workout: workout %></div>
  <% end %>

</div>
