<div data-controller="multi-bar-chart-dashboard"
    data-multi-bar-chart-dashboard-keys-value="<%= k %>">
  <canvas data-bar-chart-dashboard-target="card"
    width="300px"
    height="300px">
  </canvas>
</div>
