<div data-controller="multi-bar-chart-dashboard" class="bg-dark p-4" style="border-radius: 10px"
  data-multi-bar-chart-dashboard-days-value="<%= days %>"
  data-multi-bar-chart-dashboard-count-value="<%= count_exo_day %>"
  data-multi-bar-chart-dashboard-la-value="<%= la %>">
  <h4 class="d-flex justify-content-center"><strong> Number of exercices per day / Average difficulty per day</strong></h4>
  <canvas data-multi-bar-chart-dashboard-target="card"
          width="600px"
          height="300px">
  </canvas>
</div>
