<div data-controller="multi-bar-chart-dashboard"
  data-multi-bar-chart-dashboard-days-value="<%= days %>"
  data-multi-bar-chart-dashboard-count-value="<%= count_exo_day %>"
  data-multi-bar-chart-dashboard-la-value="<%= la %>">
  <canvas data-multi-bar-chart-dashboard-target="card"
          width="600px"
          height="300px">
  </canvas>
</div>
