<div data-controller="pie-charts">
  <canvas data-pie-charts-target="card"
          data-str="<%= workout.avg_str %>"
          data-end="<%= workout.avg_end %>"
          data-dex="<%= workout.avg_dex %>"
          width="200px"
          height="200px">
  </canvas>
</div>
