// Specific CSS for your home-page

.bg-home {
  background-size: cover;
  background-position: center;
  background-size: 100%;
  height: 100vh;
  object-fit: fill;
  background-image: radial-gradient(circle, rgba(0,0,0,0) 40%, rgba(0, 0, 0, 0.9)), asset-url("rope_guy.jpg");
  }

.filter-dark {
  transition: 1s ease-out;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  &:hover {
    background-color: rgba(0, 0, 0, 0);
  }
}

.workouts-wrapper {
  width: auto;
  // background-color: #797979;
  overflow: auto hidden;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
}

// .work {
//   &:hover.img{
//     height: 100vh;
//   }
// }
