<div class="bg-index-wo pt-5" style="min-height: calc(100vh - 258px)">

  <div class="container">

    <h1 class="text-dark">My <span class="text-success">workouts</span></h1>

    <div class="row">

      <% @trainings.each do |training| %>
        <div class="col-4 my-3"><%= render "components/workout_card", workout: training.workout %></div>
      <% end %>
    </div>

  </div>
</div>
