<nav class="navbar navbar-light position-absolute opacity-100">
  <div class="d-flex flex-row-reverse" style="width: 100vw;">
    <p class="navbar-text text-white mx-5">Login</p>
    <span class="navbar-text text-white mx-5">Home</span>
  </div>
</nav>
<div class="bg-home">
  <div class="filter-dark d-flex justify-content-center align-items-center">


<%# LINK TO ACTUALITY PAGE %>
  <%= link_to actuality_path do %>
    <div class="btn btn-lg btn-outline-light opacity-75 rounded-border">
        <h1 class="display-1 color-success"><em><strong>FitScale</strong></em></h1>
    </div>
  <% end %>


  </div>
</div>
