<div class="bg-home">
  <div class="filter-dark d-flex justify-content-center align-items-center">

  <%= link_to actuality_path do %>
    <div class="btn btn-lg btn-outline-light opacity-75 rounded-border">
        <h1 class="display-1 color-success"><em><strong>FitScale</strong></em></h1>
    </div>
  <% end %>


  </div>

</div>
