<div class="hexagon d-flex justify-content-center align-items-center">
  <%= link_to actuality_path do %>
    <div class="border border-lg border-secondary shadow bg-primary p-3 rounded-pill link-unstyled">
        <h1 class="display-1 color-primary"><em><strong>FitScale</strong></em></h1>
    </div>
  <% end %>
</div>
