.submit-button {
  border: none;
  size: 20px;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  padding: 3px;
  color: white;

}

.delete-btn {
  transition: 0.3s;
  scale: 1.8;
  &:hover {
    color: red;
    scale: 2.1;
  }
}

.add-btn {
  transition: 0.3s;
  scale: 1.8;
  &:hover {
    scale: 2.1;
    color: green
  }
}
