.card-exo {
/*   overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2); */
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
/*   align-items: center; */
background-color: white;
padding: 1rem 0.5rem;


> div {
  background-color: white;
}
}

.card-exo-img {
  img {
    height: 120px;
     width: 120px;
    object-fit: cover;
    margin-right: 16px;
  }
}


/*


.card-exo h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-exo p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-exo .card-exo-infos {
  padding: 16px;
}
 */
