.card-exo {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 1rem 0.5rem;


  >div {
    background-color: white;
  }
}

.card-exo-img {
  img {
    height: 136px;
    width: 149px;
    object-fit: cover;
    margin-right: 16px;
  }
}

// .top-card-wo {
//   height: 80px;
//   position: sticky;top: 5%;
// }
// .card-wo {
//   position: sticky;top: 5%;
// }

.sticky {
  position: sticky;
  top: 125px;
}

.bg-image {
  background-color: #080202;
  background-image: asset-url('bg_img_exo.jpg');
  background-attachment: fixed;
  background-size: cover;
}

// .margin_card {
//   margin-left: 30%;
// }
