.card-exo {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 1rem 0.5rem;


  >div {
    background-color: white;
  }
}

.card-exo-img {
  img {
    height: 136px;
    width: 149px;
    object-fit: cover;
    margin-right: 16px;
  }
}

.top-card-wo {
  width: 40px;
  position: sticky;top: 70%;
}
.card-wo {
  position: sticky;top: 70%;
}


.bg-image {
  background-image:url('bg_img_exo');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
