.card-exo {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;


  >div {
    background-color: white;
  }
}

.card-exo-img {
  img {
    height: 136px;
    width: 149px;
    object-fit: cover;
    margin-right: 16px;
  }
}

// .top-card-wo {
//   margin-left: auto;
//   margin-right: auto;
//  }


.sticky {
  position: sticky;
  top: 125px;
  left: 50px;
}

.bg-image {
  background-color: #080202;
  background-image: asset-url('bg_img_exo.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.hide-text {
  overflow: hidden;
  transition: 1s ease-out;
  &:hover {
    overflow: auto;
  }
}

// .margin_card {
//   margin-left: 30%;
// }
