@mixin disable-appearance {
  appearance: auto !important;
}

.range-flex {
  color: green;

}

.range-musc {
  color: red;
}


.range-diff {
  color: blue;
}

.flexibility-input {
  @include disable-appearance;
  accent-color: green;
}
.muscularEffort-input {
  @include disable-appearance;
  accent-color: red;
}
.breathDifficulty-input {
  @include disable-appearance;
  accent-color: blue;
}
