.wo-card {
  transition: 0.4s ease-out;
  width: 380px;
  height: 325px;
  // border: 1px solid rgb(131, 131, 131);
  background: #F4F4F4;
  &:hover{
    scale: 1.1;
  }
}

.wo-card-image {
  // margin-bottom: 15px;
  background-image: asset-url("canyon_pic.jpg");
  border-bottom: 1px solid grey;
  width: 100%;
  height: 210px;
}

.wo-card-body {
  background: #F4F4F4;
  padding: 10px;
  overflow: hidden visible;
  &::-webkit-scrollbar {
    display: none;
  }
}

.pie-graph{
  height: 50px;
}
