<div class="bg-index-exo">

  <div class="container" data-controller="ajax">
    <div name="search" class="d-flex">


      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Muscles
        </button>
        <ul class="dropdown-menu">
        <% Exercice::MUSCLES.each do |muscle| %>
          <li>
            <%= link_to "#{Exercice.where("muscle ILIKE ?", "%#{muscle}%").count} - #{muscle.gsub("_", " ").capitalize}", exercices_path(muscle), class: "dropdown-item" %>
          </li>
        <% end %>
        </ul>
      </div>




      <%= form_with url: exercices_path, method: :get, data: {ajax_target: 'form'}, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find your exercice",
                data: { action: "keyup->ajax#searching",
                        ajax_target: "input"
                      }
            %>
      <% end %>








    </div>

    <div style="height: 80vh" class="d-flex flex-column align-items-center scroller" data-ajax-target="list" >
      <%= render "components/list_exercices", exercices: @exercices %>
    </div>
  </div>
</div>
